*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

html, body{
	width: 100%;
	height: 1000px;
	background-color: #f4f4f4;
}

.wrapper{
	width: 100%;
	height: 100%;
}

.wrapper .top-nav-wrap{
	width: 100%;
	height: 35px;
	background-color: #f5f5f5;
	border: 1px solid #eee;
}

.wrapper .top-nav-wrap .top-nav{
	width: 1190px;
	height: 35px;
	margin: 0px auto;
}

.wrapper .top-nav-wrap .top-nav .top-nav-l{
	float: left;
}

.wrapper .top-nav-wrap .top-nav .top-nav-r{
	float: right;
}

.wrapper .top-nav-wrap .top-nav li{
	float: left;
	margin-right: 7px;
}

.wrapper .top-nav-wrap .top-nav li a{
	color: #6c6c6c;
	font-size: 12px;
	line-height: 35px;
	padding: 0 6px;
}

.wrapper .top-nav-wrap .top-nav li a:hover,
.wrapper .top-nav-wrap .top-nav li .login{
	color: #f40;
}

.wrapper .top-nav-wrap .top-nav .china{
	color: #3c3c3c;
	font-size: 12px;
	line-height: 35px;
}
.wrapper .top-nav-wrap .top-nav .china .china-span{
	padding: 0 6px;
}

.wrapper .top-nav-wrap .top-nav .cutOff span{
	color: #ddd;
	line-height: 35px;
}

.wrapper .top-nav-wrap .top-nav .bgPic{
	display: inline-block;
	width: 6px;
	height: 3px;
	background-size: 100% 100%;
	/*border: 1px solid black;*/
	vertical-align: middle;
}

.wrapper .top-nav-wrap .top-nav .xsjPic{
	background-image: url(../img/xsj.png);
}

.wrapper .top-nav-wrap .top-nav .shopCarPic{
	width: 12px;
	height: 12px;
	background-image: url(../img/gwc.png);
}

.wrapper .top-nav-wrap .top-nav .likePic{
	width: 12px;
	height: 11px;
	background-image: url(../img/star.png);
}

.wrapper .top-nav-wrap .top-nav .webNavPic{
	width: 8px;
	height: 8px;
	background-image: url(../img/dh.png);
}

.wrapper .search-wrap{
	width: 100%;
	height: 97px;
	border: 1px solid #black;
	background-color: #FFF;
	padding-top: 24px;
	padding-bottom: 9px;
}
.wrapper .search-wrap .search-con{
	width: 1190px;
	height: 88px;
	/*border: 1px solid black;*/
	margin: 0px auto;
}

.wrapper .search-wrap .search-con .logo-box{
	display: inline-block;
	width: 190px;
	height: 80px;
	/*border: 1px solid black;*/
	vertical-align: middle;
}
.wrapper .search-wrap .search-con .logo-box img{
	width: 100%;
	height: 100%;
}

.wrapper .search-wrap .search-con .search-box{
	display: inline-block;
	height: 87px;
	width: 627px;
	/*border: 1px solid black;*/
	margin-left: 50px;
	vertical-align: middle;
}
.wrapper .search-wrap .search-con .search-box .search-bd{	
	width: 627px;
	height: 62px;
	/*border: 1px solid black;*/
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-tab{
	width: 610px;
	height: 22px;
	margin-left: 17px;
	/*border: 1px solid black;*/
}

.wrapper .search-wrap .search-con .search-box .search-bd 
li{
	float: left;
	width: 36px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	color: #FF4400;
	margin-right: 4px;
	font-size: 12px;
}

.wrapper .search-wrap .search-con .search-box .search-bd 
li:hover{
	background-color: #ffeee5;
}

.wrapper .search-wrap .search-con .search-box .search-bd .selected{
	background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
	color: #fff;
	font-weight: 700px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.wrapper .search-wrap .search-con .search-box .search-bd 
.search-panel{
	width: 627px;
	height: 40px;
	position: relative;
}

.wrapper .search-wrap .search-con .search-box .search-bd  
.search-panel .search-inp-box{
	width: 551px;
	height: 36px;
	border: 2px solid #ff5000;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: none;
	overflow: hidden;
}

.wrapper .search-wrap .search-con .search-box .search-bd  
.search-panel .search-inp-box .inp{
	width: 472px;
	height: 36px;
	overflow: hidden;
}

.wrapper .search-wrap .search-con .search-box .search-bd  
.search-panel .search-inp-box .inp input{
	width: 472px;
	height: 24px;
	line-height: 24px;
    border: none;
    outline: 0;
    text-indent: 10px;
    padding: 6px 16px;
    background-color: #fff;
}

.wrapper .search-wrap .search-con .search-box .search-bd  
.search-panel .sousuo , .wrapper .search-wrap .search-con .search-box .search-bd  .search-panel .camera{
	display: inline-block;
	position: absolute;
	
}

.wrapper .search-wrap .search-con .search-box .search-bd  
.search-panel .sousuo{
	width: 14px;
	height: 16px;
	top: 11px;
	left: 12px;
	background: url(../img/fdj.png) no-repeat;
	background-size: 100% 100%;
}

.wrapper .search-wrap .search-con .search-box .search-bd  .search-panel .camera{
	width: 20px;
	height: 22px;
	top: 11px;
	right: 90px;
	background: url(../img/camera.png) no-repeat;
	background-size: 100% 100%;
}

.wrapper .search-wrap .search-con .search-box .search-bd 
.btn{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 74px;
	height: 40px;
	z-index:1000;
	text-align: center;
}

.wrapper .search-wrap .search-con .search-box .search-bd 
.btn button{
	border: none;
	background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
	width: 100%;
	height: 100%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 700;
}




.wrapper .search-wrap .search-con .search-box .search-ft{	
	width: 627px;
	height: 18px;
	/*border: 1px solid black;*/
}

.wrapper .search-wrap .search-con .search-box .search-ft 
li{
	float: left;
}
.wrapper .search-wrap .search-con .search-box .search-ft 
li a{
   	font-size: 12px;
   	color: #666;
   	margin-right: 8px;
}

.wrapper .search-wrap .search-con .search-box .search-ft 
 a:hover, .wrapper .search-wrap .search-con .search-box 
.search-ft .selected a{
	color: #ff5000;
}

.wrapper .search-wrap .search-con .search-box .search-ft .more{
	float: right;
	font-size: 12px;
	height: 21px;
	line-height: 21px;
	color: #666;
}


.wrapper .search-wrap .search-con .code-box{
	display: inline-block;
	position: relative;
	height: 90px;
	width: 76px;
	margin-left: 50px;
	border: 1px solid #eee;
	vertical-align: middle;
}

.wrapper .search-wrap .search-con .code-box 
.phone-tb{
	display: block;
	width: 100%;
	height: 12px;
	padding: 4px 0px;
	font-size: 14px;
	line-height: 12px;
	text-align: center;
	color: #6C6C6C;
}

.wrapper .search-wrap .search-con .code-box 
.code{
	display: block;
	width: 60px;
	height: 60px;
	margin: 5px 8px;
	background: url(../img/ewm.png) no-repeat;
	background-size: 100% 100%;
}

.wrapper .search-wrap .search-con .code-box 
.close{
	position: absolute;
	top:0px;
	left: -16px;
	width: 14px;
	height: 14px;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	color: #DDDDDD;
	border: 1px solid #DDDDDD;
}

/****中间导航开始****/

.wrapper .screen-nav-wrap{
	width: 100%;
	height: 30px;
}

.wrapper .screen-nav-wrap .screen-nav-con{
	width: 1190px;
	height: 30px;
	margin: 0 auto;
	background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
}

.wrapper .screen-nav-wrap .screen-nav-con ul,
.wrapper .screen-nav-wrap .screen-nav-con h2{
	float: left;
}

.wrapper .screen-nav-wrap .screen-nav-con ul{
	height: 30px;
	font-size: 16px;
}

.wrapper .screen-nav-wrap .screen-nav-con ul .vertical-line{
	color: #F5F5F5;
	font-weight: 600;
}

.wrapper .screen-nav-wrap .screen-nav-con h2{
	width: 190px;
	height: 30px;
	color: #FFFFFF;
	background-color: #FF5000;
	font-size: 16px;
	line-height: 30px;
	text-align: center;	
}

.wrapper .screen-nav-wrap .screen-nav-con ul li{
	float: left;
	text-align: center;
	padding: 0 4px;
	margin: 0 3px;
	line-height: 30px;

}

.wrapper .screen-nav-wrap .screen-nav-con ul li a{
	color: #F5F5F5;
	font-weight: 400;
}

/*中间导航条结束*/

.wrapper .screen-box-wrap{
	width: 1190px;
	height: 632px;
	margin: 0 auto;
	/*border: 1px solid black;*/

	
}

.wrapper .screen-box-wrap .main{
	float: left;
	width: 890px;
	height: 632px;
	/*border: 1px solid black;*/
}

.wrapper .screen-box-wrap .main .main-inner{
	width: 720px;
	height: 522px;
	/*border: 1px solid black;*/
	display: inline-block;
	vertical-align: top;
}

.wrapper .screen-box-wrap .main .main-inner 
.inner-left{
	display: inline-block;
	float: left;
	width: 190px;
	height: 522px;	
	background-color: #fff;
}

.wrapper .screen-box-wrap .main .main-inner 
.inner-left ul{
	border: 1px solid #FF5000;
	border-top: none;
	padding-top: 5px;
	padding-bottom: 3px;
	font-size: 14px;
}

.wrapper .screen-box-wrap .main .main-inner 
.inner-left ul li{
	position: relative;
	height: 32px;
	width: 144px;
	line-height: 32px;
	font-weight: 400;
	padding-left: 25px;
	padding-right: 19px;
}

.wrapper .screen-box-wrap .main .main-inner 
.inner-left ul li a{
	color: #666;
}


.wrapper .screen-box-wrap .main .main-inner 
.inner-left ul li:hover a{
	color: #FF5000;
}


.wrapper .screen-box-wrap .main .main-inner 
.inner-left ul li:hover{
	background-color: #ffeee5;
	color: #FF5000;
}

.wrapper .screen-box-wrap .main .main-inner 
.inner-left ul li span{
	position: absolute;
	display: inline-block;
	right: 10px;
	top:50%;
	margin-top:-4px;
	height: 8px;
	width: 5px;
	background: url(../img/yjt.png) no-repeat;
	background-size: 100% 100%;
	
	
}

.wrapper .screen-box-wrap .main .main-inner 
.inner-con{
	display: inline-block;
	float: left;
	width: 520px;
	height: 512px;
	margin-top: 10px;
	margin-left: 10px;
}


/*inner-con pic-box*/

.wrapper .screen-box-wrap .main .main-inner 
.inner-con .pic-box .pic-box-nav{
	position: relative;
}


.wrapper .screen-box-wrap .main .main-inner 
.inner-con .pic-box .pic-box-nav .list{
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -90px;
	background-color: rgba(255,255, 255, 0.3);
	border-radius: 10px;
}

.wrapper .screen-box-wrap .main .main-inner 
.inner-con .pic-box .pic-box-nav .list li{
	float: left;	
	margin: 3px;
	height: 18px;
    width: 18px;
    margin: 5px 6px;
}



.wrapper .screen-box-wrap .main .main-inner 
.inner-con .pic-box .pic-box-nav .list li a{
	display: block;	
	text-align: center;
	line-height:18px;
	width: 18px;
	height: 18px;
	background-color: #DDDDDD;
	border-radius: 50%;
}

.wrapper .screen-box-wrap .main .main-inner 
.inner-con .pic-box .pic-box-nav .list .li-Selected a{
	background-color: black;
}

/*inner-con inner-mall*/

.wrapper .screen-box-wrap .main .main-inner 
.inner-con .inner-mall{
	width: 520px;
	height: 230px;	
}

.wrapper .screen-box-wrap .main .main-inner 
.inner-con .inner-mall .head{
	width: 520px;
	height: 22px;
	border-bottom: 3px solid #ff1648;
}

.wrapper .screen-box-wrap .main .main-inner 
.inner-con .inner-mall img{
	width: 520px;
}

.wrapper .screen-box-wrap .main .main-inner 
.inner-con .inner-mall .head .tm-pic{
	display: inline-block;
	width: 136px;
	height: 20px;
	background-image: url(../img/tm.png);
	background-size: 100% 100%;
}

.wrapper .screen-box-wrap .main .main-inner 
.inner-con .inner-mall .head .tm{
	color: #666666;
	font-size: 12px;
}

.wrapper .screen-box-wrap .main .col-middle{
	display: inline-block;
	width: 160px;
	height: 512px;
	margin-top: 10px;	
	vertical-align: top;
}

.wrapper .screen-box-wrap .main .col-middle h5{
	color: #a1a1a1;
	font-size: 12px;
	line-height: 20px;
}

/*main main-bottom*/

.wrapper .screen-box-wrap .main .main-bottom{
	width: 888px;
	height: 100px;
}

.wrapper .screen-box-wrap .main .main-bottom .bottom-con{
	position: relative;
	margin-top: 10px;
	height: 73px;
	padding: 14px 14px 12px 20px;
	background-color: #fff;
}

.wrapper .screen-box-wrap .main .main-bottom .bottom-con
 .logo{
 	float: left;
 }


.wrapper .screen-box-wrap .main .main-bottom .bottom-con
 .tbttCon{
 	width: 675px;
	height: 73px;
 	position: absolute;
 	top: 14px;
 	
 }
 
 .wrapper .screen-box-wrap .main .main-bottom .bottom-con
 .tbttCon img{
 	float: left;
 	width: 130px;
 	height: 73px;
 }
 
 .wrapper .screen-box-wrap .main .main-bottom .bottom-con
 .tbttCon h4{
 	font-size: 16px;
 	font-weight: 500;
 	line-height: 28px;
 	color: #333;
 	margin-top: 2px;
 	margin-left: 144px;
 }
 
 .wrapper .screen-box-wrap .main .main-bottom .bottom-con
 .tbttCon h4:hover{
 	color: #FF5000;
 }
 
 .wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbttCon p{
 	color: #999;
 	line-height: 18px;
 	height: 36px;
 	overflow: hidden;
 	margin-left: 144px;
 }
.wrapper .screen-box-wrap .col-right{
	float: left;
	width: 290px;
	height: 622px;
	background-color: #FFFFFF;
   /*	border: 1px solid black;*/
   margin-top: 10px;
   margin-right: 10px;
   transform: translateX(8px);
}

.wrapper .screen-box-wrap .col-right .member{
	width: 290px;
	height: 132px;
	padding: 3px 0 10px;
	background: url(../img/bg.png) no-repeat;
	background-size: 100% 100%;
}

.wrapper .screen-box-wrap .col-right .member
 .member-db{
	width: 290px;
	height: 91px;
	/*border-bottom: 1px solid black;*/
}

.wrapper .screen-box-wrap .col-right .member
 .member-db .tx{
 	width: 290px;
 	text-align: center;
 	height: 56px;
 }

.wrapper .screen-box-wrap .col-right .member
 .member-db .tx a{
 	display: inline-block;
 	width: 50px;
 	height: 50px;
 	border-radius: 50%;
 	overflow: hidden;
 }

.wrapper .screen-box-wrap .col-right .member
 .member-db .hello{
 	display: block;
 	height: 17px;
 	line-height: 14px;
 	text-align: center;
 	color: #333;
 	font-size: 12px;
 }

.wrapper .screen-box-wrap .col-right .member
 .member-db p{
 	width: 290px;
	height: 17px;
	line-height: 17px;
	text-align: center;
 }

.wrapper .screen-box-wrap .col-right .member
 .member-db p .icon, .wrapper .screen-box-wrap .col-right .member
 .member-db p .club{
 	position: relative;
 	display: inline-block;
 	height: 17px;
 	font-size: 16px;
 	padding-left: 18px;
 	margin-right: 30px;
 	color: #FF4400;
 	background-color: #FFEEE5;
 	border-radius: 7px;
 }

.wrapper .screen-box-wrap .col-right .member
 .member-db p .icon{
 	margin-left: 19px;
 	
 }

.wrapper .screen-box-wrap .col-right .member
 .member-db p .icon .pic, .wrapper .screen-box-wrap .col-right .member .member-db p .club .pic{
 	position: absolute;
 	left:1px; 	
 	display: inline-block;
 	height: 17px;
 	width: 17px;
 	background: url(../img/pics.png) no-repeat;
 }

.wrapper .screen-box-wrap .col-right .member
 .member-db p .icon .pic{
 	background-position: 0 -527.5px;
 }

.wrapper .screen-box-wrap .col-right .member
 .member-db p .club .pic{
 	background-position: 0 -528px;
 }

/*.col-right .member .member-ft*/

.wrapper .screen-box-wrap .col-right .member
 .member-ft{
 	width: 290px;
	height: 40px;
	text-align: center;
	margin-top: 8px;
 }

.wrapper .screen-box-wrap .col-right .member
 .member-ft a{
 	display: inline-block;
 	width: 70px;
 	height: 25px;
 	text-align: center;
 	line-height: 25x;
 	color: #fff;
 	background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700px;
    margin-right: 10px;
 }

.wrapper .screen-box-wrap .col-right .member
 .member-ft .login{
 	width: 92px;
 }
 
/*.col-right message*/

.wrapper .screen-box-wrap .col-right .message{
	width: 290px;
	height: 26px;
	background-color: #ffe4db;		
}

.wrapper .screen-box-wrap .col-right .message a{	
	/*display: inline-block;*/
	color: #ff5000;
	text-align: center;
	line-height: 26px;
	padding-left: 82px;
	font-size: 12px;
}

.wrapper .screen-box-wrap .col-right .message a span{
	display: inline-block;
	width: 7px;
	height: 10px;
	margin-left: 50px;
	background: url(../img/ysj.png) no-repeat;
	background-size: 100% 100%;
}

/*.col-right .notice*/

.wrapper .screen-box-wrap .col-right .notice{
	height: 98px;
	padding-top: 10px;
	width: 290px;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}

.wrapper .screen-box-wrap .col-right .notice li{
	float: left;
	
}

.wrapper .screen-box-wrap .col-right .notice .title{
	width: 290px;
	height: 24px;
	margin-top: 4px;
	padding: 0 8px;
	border-bottom: 1px solid #eee;
}

.wrapper .screen-box-wrap .col-right .notice .title li{
	width: 32px;
	line-height: 20px;
	margin: 0 11px;
	text-align: center;
}


.wrapper .screen-box-wrap .col-right .notice .title  a{
	color: #3c3c3c;
	font-size: 12px;
}

.wrapper .screen-box-wrap .col-right .notice .title 
 .selected{
	font-weight: 700;
	border-bottom: 2px solid #FF4400;
}

.wrapper .screen-box-wrap .col-right .notice .con li:hover a,
.wrapper .screen-box-wrap .col-right .notice .title li:hover a{
	color: #FF4400;
}

.wrapper .screen-box-wrap .col-right .notice .con li{
	width: 130px;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	padding-right: 10px;
	padding-left: 5px;
	
}

.wrapper .screen-box-wrap .col-right .notice .con li a{
	color: #3C3C3C;
}

/*.col-right .moudle*/

.wrapper .screen-box-wrap .col-right .moudle{
	height: 232px;
	width: 290px;
	border: 1px solid #eee;
}

.wrapper .screen-box-wrap .col-right .moudle li{
	float:left;
	width: 71px;
	height: 75px;
	/*line-height: 75px;*/
	border-right: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
}

.wrapper .screen-box-wrap .col-right .moudle li a{
	display: block;
	text-align: center;
}

.wrapper .screen-box-wrap .col-right .moudle li a span{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/pics.png) 100% 100% no-repeat;
	margin-top: 10px;
}

.wrapper .screen-box-wrap .col-right .moudle li a .pic1{
	background-position: 0px 0px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic2{
	background-position: 0px -85px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic3{
	background-position: 0px -44px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic4{
	background-position: 0px -132px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic5{
	background-position: 0px -176px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic6{
	background-position: 0px -220px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic7{
	background-position: 0px -264px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic8{
	background-position: 0px -308px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic9{
	background-position: 0px -352px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic10{
	background-position: 0px -396px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic11{
	background-position: 0px -440px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic12{
	background-position: 0px -484px;
}

.wrapper .screen-box-wrap .col-right .moudle li a{
	color: #3C3C3C;
	font-size: 12px;
	line-height: 24px;
	
}

.wrapper .screen-box-wrap .col-right .moudle li:hover a{
	color: #FF5000;	
}

.wrapper .screen-box-wrap .col-right .app{
	height: 100px;
	width: 290px;
}

.wrapper .screen-box-wrap .col-right .app h3{
	position: relative;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	padding-left: 14px;
}

.wrapper .screen-box-wrap .col-right .app h3 a{
	position: absolute;
	right: 10px;
	color: #3c3c3c;
	
}

.wrapper .screen-box-wrap .col-right .app ul{
	height: 84px;
	padding-left: 23px;
}

.wrapper .screen-box-wrap .col-right .app ul li{
	float: left;
	height: 32px;
	width: 32px;
	margin-right: 21px;
	margin-bottom: 8px;
}

.wrapper .screen-box-wrap .col-right .app ul li img{
	height: 32px;
	width: 32px;
}
